.box-container{
    width: 80%;
    margin: auto;

    
}
.box-cart{
    background-color: black; 
    color: white;
    width:30%;
    height:300px;
    border-radius:5px;
    margin: 0px 20px 20px 0px;
    float: left;
    padding: 10px;
    text-align:center;
}
.sports-type{
    color: silver;
}