.banarLogo{
    margin-top: 20px;
}
.banarLogo img {
    width:100%;
    height:250px;
}
.detail-container{
    margin: 20px 0px;
}
.detail-box{
    width:80%;
    margin: 20px auto;
    border-radius:5px;
    padding:20px;
    height:220px;
    background-color:black;
    color: white;
}
.detail-left{

}
.article{
    width:80%;
    margin:  auto;
}
.detail-right{
    position: relative;
}
.detail-right img{
    height:200px;
    width:300px;
    float:right;
    position:absolute;
    left: 650px;
    bottom: -23px;
}